In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
import scipy
import scipy.stats
import matplotlib
from scipy import interpolate
import os
import itertools
from textwrap import wrap
from mpl_toolkits.axes_grid1.anchored_artists import AnchoredSizeBar
from sklearn.preprocessing import MultiLabelBinarizer
import matplotlib.font_manager as fm
import scipy.stats
import networkx as nx
from sklearn.decomposition import PCA
from sklearn import metrics
from mpl_toolkits.axes_grid1.axes_divider import make_axes_locatable
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import radius_neighbors_graph
import matplotlib.patches as mpatches
import sklearn.neighbors
from scipy.spatial import distance
from skimage.filters import unsharp_mask
from skimage.color import rgb2gray
from mpl_toolkits.axes_grid1 import ImageGrid
from collections import Counter
import skimage
from Bio import SeqIO
from Bio.KEGG import REST
from Bio.KEGG.KGML import KGML_parser
import io
import numpy as np
import gget
import matplotlib.pyplot as plt
from skimage import data, segmentation, feature, future
from sklearn.ensemble import RandomForestClassifier
from functools import partial
import sys

from mpl_toolkits.mplot3d import Axes3D
sys.path.append("../")
import utils as ut
from importlib import reload
reload(ut)

In [11]:
sptDir =  "/nfs/turbo/umms-indikar/shared/projects/spatial_transcriptomics/data/CARDInputs/"

spotIds = []

for f in os.listdir(sptDir):
    if "spt" in f and "global" in f:
        fullPath = f"{sptDir}{f}"
        key = f.split("_")[0]
        sdf = pd.read_csv(fullPath)
        sdf = sdf.rename(columns={'Unnamed: 0' : 'gene'})
        sdf = sdf.set_index('gene')
        sdf = sdf.T
        spotIds += sdf.index.to_list()
    
print('done')

done

In [18]:
idf = pd.DataFrame(spotIds, columns=['id'])
idf['key'] = idf['id'].apply(lambda x: str(x).split("_")[1])
idf['barcode'] = idf['id'].apply(lambda x: str(x).split("_")[0])

idf.to_csv("./spotIds.csv", index=False)
idf.head()

                        id   key             barcode
0  AAACAAGTATCTCCCA.1_HFD8  HFD8  AAACAAGTATCTCCCA.1
1  AAACACCAATAACTGC.1_HFD8  HFD8  AAACACCAATAACTGC.1
2  AAACAGCTTTCAGAAG.1_HFD8  HFD8  AAACAGCTTTCAGAAG.1
3  AAACAGGGTCTATATT.1_HFD8  HFD8  AAACAGGGTCTATATT.1
4  AAACAGTGTTCCTGGG.1_HFD8  HFD8  AAACAGTGTTCCTGGG.1

In [ ]:
break

In [3]:
coordDir = "/nfs/turbo/umms-indikar/shared/projects/spatial_transcriptomics/data/CARDInputs/"

dfList = []

for f in os.listdir(coordDir):
    if "coord" in f and "global" in f:
        fullPath = f"{coordDir}{f}"
        key = f.split("_")[0]
        cdf = pd.read_csv(fullPath)
        cdf = cdf.rename(columns={'Unnamed: 0' : 'spotId'})
        cdf['key'] = key
        dfList.append(cdf)

cdf = pd.concat(dfList, ignore_index=True)
print(f"{cdf.shape=}")
print(cdf['key'].value_counts())
print()
cdf.head()

cdf.shape=(7424, 4)
key
HFD8     3394
ND       2036
HFD14    1994
Name: count, dtype: int64

                    spotId            x            y   key
0  AAACAAGTATCTCCCA.1_HFD8  1244.795278  1189.669724  HFD8
1  AAACACCAATAACTGC.1_HFD8   405.548324  1349.579809  HFD8
2  AAACAGCTTTCAGAAG.1_HFD8   303.880251  1068.178931  HFD8
3  AAACAGGGTCTATATT.1_HFD8   344.496391  1138.478061  HFD8
4  AAACAGTGTTCCTGGG.1_HFD8   648.734268  1595.524585  HFD8

In [5]:
cdf['key'].value_counts()

key
HFD8     3394
ND       2036
HFD14    1994
Name: count, dtype: int64

In [8]:
spotIds = []

for key in keys:

    sdf = spt[key]

    print(sdf.head())
    break

gene                   XKR4  GM1992  GM37381  RP1  SOX17  GM37323  MRPL15
AAACAAGTATCTCCCA.1_ND   0.0     0.0      0.0  0.0    0.0      0.0     0.0  \
AAACAGCTTTCAGAAG.1_ND   0.0     0.0      0.0  0.0    0.0      0.0     0.0
AAACAGGGTCTATATT.1_ND   0.0     0.0      0.0  0.0    0.0      0.0     0.0
AAACATTTCCCGGATT.1_ND   0.0     0.0      0.0  0.0    0.0      0.0     0.0
AAACCCGAACGAAATC.1_ND   0.0     0.0      0.0  0.0    0.0      0.0     0.0

gene                   LYPLA1  GM37988  TCEA1  ...  AC125149.1  AC125149.2
AAACAAGTATCTCCCA.1_ND     0.0      0.0    0.0  ...         0.0         0.0  \
AAACAGCTTTCAGAAG.1_ND     0.0      0.0    0.0  ...         0.0         0.0
AAACAGGGTCTATATT.1_ND     0.0      0.0    0.0  ...         0.0         0.0
AAACATTTCCCGGATT.1_ND     0.0      0.0    0.0  ...         0.0         0.0
AAACCCGAACGAAATC.1_ND     0.0      0.0    0.0  ...         0.0         0.0

gene                   AC125149.4  AC234645.1  AC168977.2  AC168977.1
AAACAAGTATCTCCCA.1_ND         0.0         0.0         0.0         0.0  \
AAACAGCTTTCAGAAG.1_ND         0.0         0.0         0.0         0.0
AAACAGGGTCTATATT.1_ND         0.0         0.0         0.0         0.0
AAACATTTCCCGGATT.1_ND         0.0         0.0         0.0         0.0
AAACCCGAACGAAATC.1_ND         0.0         0.0         0.0         0.0

gene                   AC149090.1  CAAA01118383.1  VMN2R122  CAAA01147332.1
AAACAAGTATCTCCCA.1_ND         0.0             0.0       0.0             0.0
AAACAGCTTTCAGAAG.1_ND         0.0             0.0       0.0             0.0
AAACAGGGTCTATATT.1_ND         0.0             0.0       0.0             0.0
AAACATTTCCCGGATT.1_ND         0.0             0.0       0.0             0.0
AAACCCGAACGAAATC.1_ND         0.0             0.0       0.0             0.0

[5 rows x 31053 columns]